body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#application-title{
    font-size: 40px;
    color:#007fa4;
    font-weight: 600;
    text-transform: uppercase;
    font-style: oblique;
    margin-left: 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    

}
.logo-mql{
    padding-top: 20px;
    max-height: 70%;
    max-width: 245px;
    
}

#cv-form > div:not(:last-child){
    height: fit-content;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top: 20px solid rgb(240, 76, 35);
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 5px rgb(240, 76, 35);
}

input{
    outline: none;
    
}

h2{
    text-align: left;
    padding-left: 40px;
    font-variant: small-caps;
}


.form-profile > div {
    display: grid;
    grid-template-columns: 30% 40%;
    margin-bottom: 25px;
    margin-left: 40px;
    
}


.form-education > div {
    display: grid;
    grid-template-columns: 15% 30% 30% 25%;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 20px;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
}
.form-technologies > div{
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
}
.form-technologies > div > div {
   display: flex;
   padding-left: 40px;
   justify-content: center;
   align-items: center;
   align-content: center;
}
.form-technologies > div > div > div:nth-child(1){
    margin-right: 20px;
}
.form-technologies > div > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 20px;
    row-gap: 10px;
    padding-left: 40px;
    padding-bottom: 30px;
}
.form-technologies > div > div > div label{
    grid-column: 1/-1;
    text-align: center;
}
.form-technologies > div > h3{
    padding-left: 40px;
    padding-top: 10px;
    grid-column: 1/-1;
}

.form-experiences > div > h3{
    padding-left: 40px;
    padding-top: 10px;
    grid-column: 1/-1;
}
.form-experiences > div{
    display: grid;
    grid-template-columns: 55% 24%;
    column-gap: 0px;
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.technology-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-experiences > div > div > div {
    display: grid;
    grid-template-columns: 30% 50%;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-bottom: 15px;
}

.form-languages > div {
    display: grid;
    grid-template-columns: 15% 30% 15% 30%;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;
    
    padding-left: 20px;
    align-items: center;
    box-shadow: 2px 2px 5px gray;
}
.form-soft-skills > div{
    display: flex;
    justify-content: space-evenly;
}
.form-soft-skills input{
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.form-interests > div{
    display: flex;
    justify-content: space-evenly;
}
.form-interests input{
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;

}
button{
    background:  #007fa4;
    padding: 10px 15px 10px 15px;
    margin-right: 30px;
    font-size: 20px;
    font-variant: small-caps;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
}
.form-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.add-new-field{
    border: 1px solid rgb(240, 76, 35);
    box-shadow: 2px 2px 7px rgb(240, 76, 35);
    margin-left: 40px;
    padding: 2px 4px 4px 4px;
}
.add-new-field:hover{
    cursor: pointer;
    color: white;
    background: rgb(240, 76, 35);
    font-weight: bold;
    box-shadow: none;
    font-size: 17px;
    border-radius: 5px;
}
